
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#mainNavigation {
}

.main-navigation-header {
  height: 3em;
  background-color: #004179;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  margin-bottom: 1em;
}

#sideMenu {
  z-index: 99;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

a, a:hover {
  color: white;
  text-decoration: none;
}